<%- include('partials/header') -%>

<h1>Home</h1>
<p><%= homeDisplayContent %></p>
<% blogPosts.forEach(function(post) { %>
    <h1><%= post.postTitle %></h1>
    <p><%= post.postBody.substring(0, 100) + " ..." %></p>
    <a href="/posts/<%= post.postTitle %>">Read More</a>
<% }); %>

<%- include('partials/footer') -%>