<%- include('partials/header') -%>

<h1>Home</h1>
<p><%= homeDisplayContent %></p>
<% blogPosts.forEach(function(post) { %>
    <h1><%= post.postTitle %></h1>
    <p><%= post.postBody %></p>
<% }); %>

<%- include('partials/footer') -%>